

body {
    background-image:url(../image/fond.jpg);
    background-repeat:no-repeat;
    background-position:left top;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;      
}


/*Reset CSS*/
*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}

nav{
    width: 100%;
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
    position: sticky;
    top: 0px;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: orange;
    border-bottom: 2px solid gold;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: rgb(0, 0, 0);
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}

.conteneur{
  margin: 50px 20px;
  height: 1500px;
}

.MV{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 150%;
    color: white;

}*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


h1 {
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.356);
    margin-left: 40%;
    margin-right: 40%;
    
}

.galerie {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width:100%;
    max-width: 4000px;
    margin-top:3%;
    /*margin: 100px auto 0;
    /* background: crimson; */
}
    .nomgalerie1{
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.700);
        position: absolute;
        right: 77%;
        top: 55%;
        color: white;

}

    .nomgalerie2{
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.700);
        top: 55%;
        position: absolute;
        color: white;
    }

    .nomgalerie3{
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.700);
        top: 55%;
        position: absolute;
        color: white;
        right: 16%;
    }



.item {
    width: 400px;
    height: 400px;
    margin: 100px;
    overflow: hidden;
    flex-shrink: 0;
    margin-top: 30px;
}
.item img {
    width: 100%;
    height: auto;
}